My_workflow_2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "model": "mindcraft-gpt4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -300,
        120
      ],
      "id": "75748cd9-b717-46c0-9469-99337475d1fe",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "rsJCxwBJUTv55BGa",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97d5b32e-20b5-4297-88df-d12d56ed57f7",
              "name": "meeting_transcript",
              "value": "Today Meghna discussed UI issues. Raj will work on the backend by Friday. Priya will test the changes and submit a report..",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -120
      ],
      "id": "799fe3b5-a6c9-4bea-bdb1-fdaec6d34d7a",
      "name": "Set Transcript Input"
    },
    {
      "parameters": {
        "sendTo": "mghn.tmr@gmail.com ",
        "subject": "\"Meeting Summary and Tasks\"",
        "message": "=Here is the summarized meeting:  {{$json[\"choices\"][0][\"message\"][\"content\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        460,
        -120
      ],
      "id": "2590c32f-dc32-44ab-94f9-40e530666b34",
      "name": "Gmail",
      "webhookId": "ca70a5e0-c78b-4cc1-bce6-c766a8a2a48a",
      "credentials": {
        "gmailOAuth2": {
          "id": "9aIW7ZVOIVX7BaTW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -120,
        -120
      ],
      "id": "05dcee6a-de93-4e35-94b0-c3ab9e27c6a6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1W8VzsIjTQsOU2_xKljRM_hNeb1Fj8AiYqqIwc9dB8aU",
          "mode": "list",
          "cachedResultName": "MeetingLog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W8VzsIjTQsOU2_xKljRM_hNeb1Fj8AiYqqIwc9dB8aU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W8VzsIjTQsOU2_xKljRM_hNeb1Fj8AiYqqIwc9dB8aU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date:": "{{$now}}",
            "Tasks:": "{{$json[\"tasks\"]}}",
            "Summary: ": "{{$json[\"summary\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date:",
              "displayName": "Date:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary: ",
              "displayName": "Summary: ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tasks:",
              "displayName": "Tasks:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        360,
        140
      ],
      "id": "dae58725-c138-4742-94e7-640ad284e60d",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lnR67gvnUmJATCRb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "mghntmr@gmail.com",
          "mode": "list",
          "cachedResultName": "mghntmr@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        180,
        140
      ],
      "id": "a2759d2f-5077-4d47-9333-d6de269180da",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "m9YUdHcYPKFK4DI5",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -40,
        140
      ],
      "id": "687e2a55-2f4c-43ca-9727-ab9b2a93f1a0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "path": "b6df80e3-9235-4241-8209-5e5f4d5d2ea9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        -120
      ],
      "id": "44cd2f62-2ae3-46a0-b07a-4959ab4e9eb2",
      "name": "Webhook",
      "webhookId": "b6df80e3-9235-4241-8209-5e5f4d5d2ea9"
    }
  ],
  "pinData": {},
  "connections": {
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Transcript Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Transcript Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa05b496-6c0b-4e6d-a961-982415e6ed80",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f30402d0a5e93fd5001b75f0662d15840dde08a3cda287d08673a3aabc6fcd8"
  },
  "id": "ECDzvAQeiJL4E36w",
  "tags": []
}